<section>
  <div class="card">
    <h3 class="card-comment-title">Leave a comment</h3>
    <h3 class="card-content">{{content}}</h3>
    <p class="card-info">{{user.username}} on {{format_date createdAt}}</p>
  </div>
</section>