<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Byte Sized</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-r from-slate-900 to-slate-800">
  <header class="pt-10">
    <h1 class="text-5xl text-center text-sky-400">Byte Sized Tech Blog</h1>
    <nav>
      <ul class="grid grid-cols-3 text-center w-1/2 mx-auto mt-10 text-sky-100 text-lg">
        <li><a href="/">
            <div>Home</div>
          </a></li>
        <li>
          <div id="dashboard">
            {{#if loggedIn}}
            <a href="/dashboard">Dashboard</a>
            {{else}}
            <a href="/login">Dashboard</a>
            {{/if}}
          </div>
        </li>
        <li>
          <div id="logoutBtn">
            {{#if loggedIn}}
            <button type="button" id="logout-Btn">Logout</button>
            {{else}}
            <a href="/login">Login/Sign Up</a>
            {{/if}}
          </div>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <script src="/js/logout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>