<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Byte Sized</title>
  <h2>A tech blog.</h2>
  <link rel="stylesheet" href="/css/style.css">
<style>
  nav, header, h2{
    text-align: center;
  }
  .homepage {
    color: #004119;
  }
    .btn {
    color: #004119;
  }
    #logout {
    color: #004119;
  }
main {
  width: 60vw;
}
.main-section {
    width: 60%;
}
</style>
</head>

<body>
      <nav class="navigation">
                {{#if loggedIn}}
                <a href="/" class="homepage">Home</a>
                <a href="/dashboard">Dashboard</a>
                <button id="logout" class="btn">Log Out</button>
                {{else}}
                <a href="/" class="homepage">Home</a>
                <a href="/login" class="homepage">Login</a>
                {{/if}}
            </nav>

  <header>
    <h1>Byte Sized Tech Blog</h1>
  </header>
  
  <main>
    <div class="main-section">
      {{{body}}}
    </div>
  </main>
  
  {{#if loggedIn}}
  {{!-- When loggedin, show logout button --}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>