<h1 class="text-lg text-sky-200 px-10 mt-20 text-center">Welcome to your Dashboard, {{username}}!</h1>
{{#if blogs.length}}
<section>
  <div class="blog-list">
    <h3 class="text-2xl text-sky-300"> Your Posts</h3>

    {{#each blogs as |blog|}}
    <div class="blog">
      <h3><a href="/api/blogs/{{blog.id}}">{{blog.title}}</a></h3>
      <button class="deleteBtn" data-id="{{blog.id}}">Delete?</button>
    </div>
    {{/each}}
  </div>
  {{/if}}

  <div class="w-3/5 text-center mx-auto mt-10">
    <h2 class="text-2xl text-sky-400">Create a New Blog</h2>

    <form id="blogForm">
      <div class="form-group my-5">
        <input class="form-input rounded-md h-10" type="text" id="blog-title" name="blog-title"
          placeholder="Blog Title" />
      </div>

      <div class="form-group my-5">
        <textarea contenteditable="true" class="form-input h-40 rounded-md" id="blog-content" name="blog-content"
          placeholder="Blog Content"></textarea>
      </div>
      <div class="form-group my-5">
        <button type="submit"
          class="btn bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">Post</button>
      </div>
    </form>
  </div>
  <script src="/js/dashboard.js"></script>