{{#each posts as |post|}}
{{> panel-post}}
{{/each}}
<div class="new-post-btn-section">
  <button id="newpost" class="btn-new-post">
    <a href="/new">Share your story with the world! Create a post</a>
  </button>
</div>