<!--LOGIN FORM -->

<div class="grid grid-cols-7 mt-20 w-4/5 text-center mx-auto gap-x-20">

  <div class="col-span-3  border-dotted border-4 border-sky-500 px-4 bg-cyan-800 bg-opacity-25 py-5">
    <h4 class="text-3xl text-cyan-200 text-center mb-7">Login</h4>
    <form id="login">
      <input type="text" class="form-control mb-5 py-2" id="loginUser" placeholder="username" />
      <input type="password" class="form-control py-2" id="loginPassword" placeholder="password" />
      <button type="submit"
        class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded mt-5 w-1/3">Login</button>
    </form>
  </div>
  <div>
    <h4 class="col-span-1 text-sky-400 place-items-center mt-10 text-xl"> OR </h4>
  </div>
  <div class="col-span-3  border-dotted border-4 border-sky-500 px-4 bg-cyan-800 bg-opacity-25 py-5">
    <!--SIGNUP FORM-->
    <h4 class="text-3xl text-cyan-200 text-center mb-7">Signup</h4>
    <form id="signup">
      <input type="text" class="form-control mb-5 py-2" id="signupUser" placeholder="username" />
      <input type="text" class="form-control py-2" id="signupPassword" placeholder="password" />
      <button
        class="bg-blue-500 hover:bg-blue-400 text-white py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded mt-5 w-1/3"
        type="submit">Signup</button>
    </form>
  </div>

</div>
<script src="/js/login.js"></script>