@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400&display=swap');
*{
    width: 100%;
}

h1, h4 {
    font-family: 'Share Tech Mono', sans-serif;
}

ul, h2 {
    font-family: 'Sono', sans-serif;
 }

 h3, p {
    font-family: 'IBM Plex Sans', sans-serif;
 }