/*BIG STUFF*/
* {
    font-family: Arial;
    margin: 0%;
  }
.main-section {
    background-color: #fdfcf6;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    align-items: center;
  }

  nav {
    margin: 0%;
    padding: 10px;
    background-color: #9f3e4d;
   
  }
  
  nav a {
    color: #fdfcf6;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
   
    text-align: center;
  }
  
  nav a:hover {
    color: #fa80ab;
    background-color: #290320;
  }
  
  header {
    padding: 10px;
    text-align: center;
    background: #290320;
    color: #fdfcf6;
  }
  
/*Partials CSS */ 
.card {
    background-color: #fdfcf6;
    color: #290320;
    position: relative;
    margin: 15px;
    border: 3px solid #290320;
  
  }
  .card-content {
    color: #290320;
    padding: 5px;
  }
  
  .card-info {
    text-align: right;
    color: #9f3e4d;
    padding: 5px;
  }
  
  .card a {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

  .card-title {
    background-color: #290320;
    color: #fdfcf6;
    padding: 5px;
  }
  
  .card-comment-title {
    background-color: #9f3e4d;
    color: #fdfcf6;
    padding: 5px;
  }
  
/*post buttons*/
  
.new-post {
    background-color: #9f3e4d;
    color: #fdfcf6;
    margin: 15px;
    text-align: center;
    border: solid #290320;
  }
 
  .btn-new-post {
    background-color: #290320;
    padding: 10px;
    font-size: 20px;
  }
  
  .btn-new-post a {
    color:  #fdfcf6;
  }

#content-newcomment, #title-newpost, #content-newpost, #title-updatepost, #content-updatepost {
    padding: 2px;
    margin: 5px;
    width: 90%;
  }
  
  .btn-submit {
    margin: 5px;
    font-size: 14px;
  }
  
  .new-post-btn-section {
    text-align: center;
  }
 